.nav-wrapper {
	background-color: #212121; // grey darken-4
	padding-left: 14px;
}

.userEmail{
	font-size: 80%;
}

// .nav-mobile{
// 	margin-top: 0;
// }

table.highlight tbody tr:hover {
    background-color: #ccc !important;
}